<div class="row pt-3">
  <h3>{{'MY_HEROES' | translate}}</h3>
</div>

<div class="row">
  <div class="col-xs-4">
    <label>{{'HERO_NAME' | translate}}:</label>
    <div class="input-group mb-3">
        <input type="text" class="form-control" #heroName>
        <div class="input-group-append">
          <button (click)="add(heroName.value); heroName.value=''" class="btn btn-outline-secondary" type="button">
            {{'ADD' | translate}}
          </button>
        </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-4">
    <ul class="list-group">
        <li *ngFor="let hero of heroes" class="list-group-item">
            <a routerLink="/detail/{{hero.id}}">
              <span class="badge">{{hero.id}}</span> {{hero.name}}
            </a>
            <span (click)="delete(hero)" class="badge badge-primary badge-pill ml-auto">X</span>
        </li>
    </ul>
  </div>
</div>



