<div class="mt-5" id="search-component">
  <h4>{{ 'HERO_SEARCH' | translate }}</h4>

  
  <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">@</span>
      </div>
      <input type="text" class="form-control" #searchBox id="search-box" (keyup)="search(searchBox.value)" >
  </div>

  <div class="media" *ngFor="let hero of heroes$ | async" >
      <a class="media-body" routerLink="/detail/{{hero.id}}">
        <h5 class="mt-0">{{hero.name}}</h5>
      </a>
    </div>
</div>
